.button {
    margin-top: 1rem;
    text-align: end;
    button {
        background: $color-linear;
        color: $color-white;
        border: none;
        padding: 0.5rem 5rem;
        font-size: 2rem;
        font-weight: 600;
        border-radius: 0.25rem;
        transition: all 0.3s;
        &:hover {
            opacity: 0.9;
        }
        @include mobile {
            font-size: 1rem;
            padding: 0.5rem 2.5rem;
        }
    }
}