.footer{
    font-weight: bold;
    .item{
        margin-bottom: 1rem;
        border-right: 1px solid $gray-400;
        font-size: 1rem;
        @include mobile {
            border-bottom: 1px solid $gray-400;
            border-right: none;
            font-size: 0.75rem;
        }
    }
    p{
        margin-bottom: 0.25rem !important;
        font-size: 1rem;
        font-weight: 500;
        @include tablet {
            font-size: 0.75rem;
        }
        @include mobile {
            font-size: 0.75rem;
        }
    }
}
.bottom{
    height: 50px;
    background-color: $gray-300;
    width: 100%;
}