.card{
    width: 90%;
    overflow: hidden;
    margin-bottom: 3rem;
    background-color: $gray-100 !important;
    img{
        height: 300px;
        object-fit: contain;
        @include tablet {
            height: 200px;
        }
    }
    .card-body{
        height: 7.5rem;
        overflow: hidden;
        padding-top: 0;
        .name{
            // margin-bottom: 2rem;
            height: 4rem;
            overflow: hidden;
            h2{
                font-size: 1.5rem;
                color: $color-text;
            }
        }
        .descript {
            height: 3.5rem;
            overflow: hidden;
            .shortDescription{
                color: $color-text-secondary;
                font-size: 1rem;
                padding-bottom: 0.25rem;
            }
        }
    }
    .card-btn{
        .Product-price{
            // margin: auto;
            align-items: center;
            display: flex;
            justify-content: center;
            width: 50%;
            background-color: $gray-400;
        }
    }
}