.search {
    .container{
        margin-top: 1rem;
        // height: ;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $color-text-secondary;
        i{
            margin-right: 0.5rem;
            font-size: 1.5rem;
        }
        input{
            width: 50%;
            height: 40px;
            border: 1px solid $gray-400;
            border-radius: 0.25rem;
            padding: 0.25rem 0.5rem;
        }
    }
}